/* colors */
:root {
    /* https://coolors.co/fffffa-0d5c63-44a1a0-78cdd7-247b7b */
    --color1: #FFFFFA;
    /* baby powder */
    --color2: #0D5C63;
    /* carribean current */
    --color3: #44A1A0;
    /* verdigris */
    --color4: #78CDD7;
    /* tiffany blue */
    --color5: #247B7B;
    /* teal */
    /* https://coolors.co/436436-d6f599-d2ff28-c84c09-420217 */
    --colora: #436436;
    /* hunter green */
    --colorb: #d6f599;
    --colorb-hover: #c0db8a;
    /* Mindaro */
    --colorc: #d2ff28;
    /* lime */
    --colord: #c84c09;
    --colord-hover: #ca7141;
    /* syracuse red orange */
    --colore: #420217;
    /* chocolate cosmos */
}


/* Smaller login container floating styling */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color1); /* Adjusted to 80% opacity */
    padding: 15px; /* Reduced padding */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px; /* Reduced width */
    z-index: 1000; /* Ensures the login is on top of other elements */
}

.login-container hr{
    margin: 20px;
}

/* Form elements styling */
.login-form h2 {
    text-align: center;
    margin-bottom: 30px; /* Reduced margin */
    color: var(--colore);
}

.form-group {
    margin-bottom: 10px; /* Reduced margin */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 95%;
    padding: 6px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 8px; /* Reduced padding */
    background-color: var(--colorb);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
}

button:hover {
    background-color: var(--colorb-hover);
}

.fgotpw {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.login-button{
    margin-top: 30px;
}

.register-container{
    justify-content: center;
    display: flex;
    align-items: center;
}

.register-container button{
    margin-top: 10px;
    width: 90px;
    background-color: var(--colord);
    color: white;
}

.register-container button:hover{
    background-color: var(--colord-hover);
}
